@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: Montserrat;
}

body {
    font-family: Montserrat, sans-serif !important;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $secondary-color;

    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $secondary-color;
    }
}

.btn-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $primary-color;

    &:hover {
        background-color: transparent;
        border-color: $primary-color;
        color: $primary-color;
    }
}

.btn-primary,
.btn-secondary {
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.4s;
}
